@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');

:root {
    --primary: #4c6ef4;
    --secondary: #ed4747;
    --white: #fff;
    --gray: #8d94a7;
    --shadow: #7f89a19a;
    --black: #000;
    --text: #222;
    --text-light: #aab1b7;
    --yellow: #FDAE5C;
    --where-u-go: #040E27;
    --fill: #25304b;
    --destination-items: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.7) 100%);
    --price: #1EC6B6;
    --video: #1EC6B6;
    --place-hv: #0000009a;
    --nav-portfolio: #cee5fdc7;
    --footer: #040E27;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 62.5%;
    line-height: 1.3;
    scroll-behavior: smooth
}

body {
    background: var(--white);
    color: var(--text);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    overflow-x: hidden
}

ul li {
    list-style-type: none
}

a {
    color: var(--text);
    text-decoration: none;
    text-transform: capitalize
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}